@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

:root {
  --sizzling-red: #ff495c;
  --sizzling-red-light: #f76574;
  --sizzling-red-max-light: #ffebed;
  --blue-crayola: #1e67fa;
  --dark-blue-crayola: #0e2a63;
  --medium-aquamarine: #3ddc97;
  --white: #fcfcfc;
  --black: #000;
}

body {
  margin: 0;
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
